@{
ViewData["Title"] = "About";
}

<div class="container card p-4">
	<div class="text-center">
		<p class="fs-4 fw-bold">About</p>
		<div class="container create-task-container">
			<p>@ViewBag.Content</p>
		</div>
	</div>
</div>